<%= stylesheet_pack_tag "tkl-webcp" %>

<h1>TurnKey Rails</h1>

<div id="container-1">
    <ul>
        <li><a href="#cp"><span>Control Panel</span></a></li>
    </ul>

    <div id="cp">
        <div class="fragment-content">
            <div>
                <a href="https://<%= @http_host %>:12321">
                <%= image_pack_tag "images/webmin.png" %>Webmin</a>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

            <h2>Resources and references</h2>
            <ul>
                <li>Ruby on Rails <a href="http://rubyonrails.org/">website</a></li>
                <li>Ruby on Rails <a href="http://api.rubyonrails.org/">API</a></li>
                <li>Ruby on Rails <a href="http://guides.rubyonrails.org/">documentation</a>
                <li>rbenv (Ruby environment manager) <a href="http://github.com/rbenv/rbenv#groom-your-apps-ruby-environment-with-rbenv">
                    documentation</a>
                <li><a href="http://rubygems.org/">RubyGems</a></li>
                <li><a href="https://www.turnkeylinux.org/rails">
                TurnKey Rails release notes</a></li>
            </ul>
        </div>
    </div>
</div>
